<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<template>
  <div class="bg-white-50">
    <!-- Mobile menu -->
    <main class="mx-auto max-w-7xl px-4 pt-16 pb-24 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h1 class="sr-only">Checkout</h1>

        <form class="lg:grid lg:grid-cols-1 lg:gap-x-12 xl:gap-x-16">
          <!-- Order summary -->
          <div class="mt-10 lg:mt-0">
            <h2 class="text-lg font-medium text-gray-900">Item summary</h2>

            <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
              <h3 class="sr-only">Items in your cart</h3>
              <ul role="list" class="divide-y divide-gray-200">
                <li v-for="product in products" :key="product.id" class="flex py-6 px-4 sm:px-6">
                  <div class="flex-shrink-0">
                    <img :src="wizardState[2].images[0].file.url" :alt="product.imageAlt" class="w-20 rounded-md" />
                  </div>
                  <div class="ml-6 flex flex-1 flex-col">
                    <div class="flex">
                      <div class="min-w-0 flex-1">
                        <h4 class="text-sm">
                          <a :href="product.href" class="font-medium text-gray-700 hover:text-gray-800">{{wizardState[2].name}}</a>
                        </h4>
                        <p class="mt-1 text-sm text-gray-500">{{wizardState[1].mode}}</p>
                        <p class="mt-1 text-sm text-gray-500">{{wizardState[2].brand}}</p>
                        <p>imatge name {{wizardState[2].images[0].file.name}}</p>
                      </div>

                      <div class="ml-4 flow-root flex-shrink-0">
                      </div>
                    </div>

                    <div class="flex flex-1 items-end justify-between pt-2">
                      <p class="mt-1 text-sm font-medium text-gray-900">{{wizardState[2].value}}</p>

                    </div>
                  </div>
                </li>
              </ul>
              <dl class="space-y-6 border-t border-gray-200 py-6 px-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <dt class="text-sm">{{wizardState[3].description2}}</dt>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-sm">{{wizardState[3].address}}</dt>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-sm">{{wizardState[3].postalCode}}</dt>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-sm">{{wizardState[3].place}}</dt>
                </div>
                <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                  <dt class="text-base font-medium">Total</dt>
                  <dd class="text-base font-medium text-gray-900">{{wizardState[2].value}}</dd>
                </div>
              </dl>

              <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
                <button-custom @click.prevent="handleConfirm()">Confirm order</button-custom>
<!--                <button type="submit" class="w-full rounded-md border border-transparent bg-indigo-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">Confirm order</button>-->
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import ButtonCustom from '@/components/buttons/Button.vue'
import {
  Dialog,
  DialogPanel,
  Popover,
  PopoverButton,
  PopoverGroup,
  PopoverPanel,
  RadioGroup,
  RadioGroupDescription,
  RadioGroupLabel,
  RadioGroupOption,
  Tab,
  TabGroup,
  TabList,
  TabPanel,
  TabPanels,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import {
  Bars3Icon,
  MagnifyingGlassIcon,
  QuestionMarkCircleIcon,
  ShoppingBagIcon,
  XMarkIcon,
} from '@heroicons/vue/24/outline'
import { CheckCircleIcon, ChevronDownIcon, TrashIcon } from '@heroicons/vue/20/solid'
const emit = defineEmits(['checkout'])
const currencies = ['CAD', 'USD', 'AUD', 'EUR', 'GBP']
const products = [
  {
    id: 1,
    title: 'Basic Tee',
    href: '#',
    price: '$32.00',
    color: 'Black',
    size: 'Large',
    imageSrc: 'https://tailwindui.com/img/ecommerce-images/checkout-page-02-product-01.jpg',
    imageAlt: "Front of men's Basic Tee in black.",
  },
  // More products...
]
const deliveryMethods = [
  { id: 1, title: 'Standard', turnaround: '4–10 business days', price: '$5.00' },
  { id: 2, title: 'Express', turnaround: '2–5 business days', price: '$16.00' },
]

const open = ref(false)
const selectedDeliveryMethod = ref(deliveryMethods[0])
import {useWizardStore} from "@/stores/createStepper";
import FilePreview from "@/components/DropZone/FilePreview.vue";
const {wizardState, setWizardState} = useWizardStore()
const handleConfirm = () => {
  emit('checkout')
}
</script>
