<template>
  <form class="space-y-8 divide-y divide-gray-200">
    <div class="flex flex-col items-center justify-center mt-8">
      <div>
        <h3 class="text-lg text-center font-bold leading-6 text-gray-900">Found or lost?</h3>
      </div>
      <fieldset class="mt-4">
        <legend class="sr-only">Notification method</legend>
        <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
          <div v-for="item in checkboxes" :key="item.id" class="flex items-center">
            <input @click="handleChange" :id="item.id" name="notification-method" type="radio" :value="item.id" :checked="item.id === wizardState[1].mode" class="h-4 w-4 border-gray-300 text-red-500 focus:ring-red-500" />
            <label :for="item.id" class="ml-3 block text-sm font-medium text-gray-700">{{ item.title }}</label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</template>
<script setup>
import {defineEmits, ref} from "vue";
const emit = defineEmits(['modeChange'])
import {useWizardStore} from "@/stores/createStepper";
const {wizardState, setWizardState} = useWizardStore()
const checkboxes = [
  { id: 'lost', title: 'Lost' },
  { id: 'stolen', title: 'Stolen' },
]
const current = ref('lost')

const handleChange = (e) => {
  setWizardState(1, {mode: e.target.value}  )
}
</script>
<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-red-500 focus:outline-none focus:ring-red-500 sm:text-sm
}
</style>
