<template>
  <form class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 mt-8">
      <div>
        <div>
          <h3 class="text-lg text-center font-bold leading-6 text-gray-900">{{`Where have you ${mode === "found" ? 'find?':'lost'}?`}}</h3>
        </div>
      </div>
      <div class="pt-8">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <div class="mb-6">
              <label for="category" class="block text-sm font-medium text-gray-700">Country *</label>
              <div class="mt-1">
                <select v-model="wizardState[3].country" id="country" name="country" autocomplete="country" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  <option v-for="country in createData.countries" :value="country.id">{{country.name}}</option>
                </select>
              </div>
            </div>
<!--            <div>-->
<!--              <label for="name" class="block text-sm font-medium text-gray-700">Date of find*</label>-->
<!--              <div class="mt-1 flex rounded-md shadow-sm">-->
<!--&lt;!&ndash;                <input  type="text" name="name" id="name" autocomplete="username" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />&ndash;&gt;-->
<!--                <Datepicker  v-model="wizardState[3].date" />-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="sm:col-span-3">
          <div class="mb-5">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <input v-model="wizardState[3].address" type="text" name="address" id="address" autocomplete="address" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
          </div>
            <div class="mb-5">
              <label for="code" class="block text-sm font-medium text-gray-700">Postal Code</label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <input type="text" v-model="wizardState[3].postalCode" name="code" id="code" autocomplete="code" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
              </div>
            </div>
    <div class="mb-5">
      <label for="place" class="block text-sm font-medium text-gray-700">Place*</label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <input type="text" v-model="wizardState[3].place" name="place" id="place" autocomplete="place" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
      </div>
    </div>

          </div>


        </div>
      </div>

    </div>
  </form>
</template>
<script setup>
import {ref} from "vue";
import {useWizardStore} from "@/stores/createStepper";
const {wizardState, setWizardState} = useWizardStore()
const props = defineProps(['createData'])
</script>
