<template>
  <form class="space-y-8 divide-y divide-gray-200">


    <div class="space-y-8 mt-8">
      <div>
        <div>
          <h3 class="text-lg text-center font-bold leading-6 text-gray-900">{{`What did you ${mode === "found" ? 'find?':'lost'}?`}}</h3>
        </div>

        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name*</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <input type="text" name="name" id="name" v-model="wizardState[2].name" autocomplete="username" class="input" />
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="about" class="block text-sm font-medium text-gray-700">Description*</label>
            <div class="mt-1">
              <textarea id="about" v-model="wizardState[2].description" name="about" rows="3" class="input" />
            </div>
            <p class="mt-2 text-sm text-gray-500">Describe the object in as much detail as possible *</p>
          </div>
        </div>

        <div class="sm:col-span-4 mt-4">
          <label class="block text-sm font-medium text-gray-700">Photo</label>
          <div class="mt-1 flex items-center">
            <button type="button" class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
          </div>
        </div>
      </div>

<!--      image upload-->
<!--      <div class="grid grid-cols-1 mt-5 mx-7">-->
<!--        <DropZone class="drop-area" @files-dropped="addFiles" #default="{ dropZoneActive }">-->
<!--          <label for="file-input">-->
<!--				<span v-if="dropZoneActive">-->
<!--					<span>Drop Them Here</span>-->
<!--					<span class="smaller">to add them</span>-->
<!--				</span>-->
<!--            <span v-else>-->
<!--					<span>Drag Your Files Here</span>-->
<!--					<span class="smaller">-->
<!--						or <strong><em>click here</em></strong> to select files-->
<!--					</span>-->
<!--				</span>-->
<!--            <input type="file" id="file-input" multiple @change="onInputChange"/>-->
<!--          </label>-->
<!--          <ul class="image-list" v-show="files.length">-->
<!--            <FilePreview v-for="file of files" :key="file.id" :file="file" tag="li" @remove="removeFile"/>-->
<!--          </ul>-->
<!--        </DropZone>-->


<!--        &lt;!&ndash;          <button @click.prevent="uploadFiles(files)" class="upload-button">Upload</button>&ndash;&gt;-->
<!--      </div>-->
<!--      end image upload-->

      <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="cover-photo" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Item photos</label>
        <DropZone class="drop-area" @files-dropped="addFiles" #default="{ dropZoneActive }">
        <div class="mt-1 sm:col-span-2 sm:mt-0">
          <div class="flex max-w-lg justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div  class="flex text-sm text-gray-600 justify-center" v-if="dropZoneActive">
                <p class="pl-1">Drop files here</p>
				</div>
              <div v-else class="flex text-sm text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-red-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span @click="simulateClick()">Upload a file </span>
<!--                  <input id="file-upload" name="file-upload" type="file" class="sr-only" />-->
                  <input class="sr-only"  type="file" id="file-input" multiple @change="onInputChange"/>
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
        </div>
        </DropZone>
      </div>
      <div class="">
        <ul class="image-list flex flex-wrap" v-show="wizardState[2].images">
          <FilePreview v-for="file of wizardState[2].images" :key="file.id" :file="file" tag="li" @remove="removeFile"/>
        </ul>
      </div>
      <div class="">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-2">
            <label for="category" class="block text-sm font-medium text-gray-700">Category *</label>
            <div class="mt-1">
              <select v-model="wizardState[2].category" id="category" name="category" autocomplete="category" class="input">
                <optgroup v-for="(data, index) in createData.categories" :label="data.name">
                  <option v-for="item in createData.categories[index].children" :value="item.id">{{item.name}}</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="color" class="block text-sm font-medium text-gray-700">Color*</label>
            <div class="mt-1">
              <select v-model="wizardState[2].color" id="color" name="color" autocomplete="color" class="input">
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="brand" class="block text-sm font-medium text-gray-700">Brand*</label>
            <div class="mt-1">
              <input v-model="wizardState[2].brand" type="text" name="brand" id="brand" autocomplete="brand" class="input" />
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
<!--          <div class="sm:col-span-2">-->
<!--            <label for="inscription" class="block text-sm font-medium text-gray-700">Inscription</label>-->
<!--            <div class="mt-1">-->
<!--              <select id="inscription" name="inscription" v-model="wizardState[2].inscription" autocomplete="inscription" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">-->
<!--                <option>lorem 1</option>-->
<!--                <option>lorem 2</option>-->
<!--                <option>lorem 3</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

          <div class="sm:col-span-2">
            <label for="reward" class="block text-sm font-medium text-gray-700">Reward price*</label>
            <div class="mt-1">
              <input v-model="wizardState[2].value" type="text" name="reward" id="reward" autocomplete="reward" class="input" />
            </div>
          </div>

          <div class="sm:col-span-2">
<!--            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>-->
<!--            <div class="mt-1">-->
<!--              <select id="country" v-model="wizardState[2].country" name="country" autocomplete="country-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">-->
<!--                <option>United States</option>-->
<!--                <option>Canada</option>-->
<!--                <option>Mexico</option>-->
<!--              </select>-->
<!--            </div>-->
            <label for="name" class="block text-sm font-medium text-gray-700">Date of {{wizardState[1].mode}}*</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <!--                <input  type="text" name="name" id="name" autocomplete="username" class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />-->
              <vue-tailwind-datepicker
                  placeholder=" "
                  :formatter="formatter"
                  asSingle="true"
                  inputClasses="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-red-500 focus:ring-red-500 sm:text-sm"
                  v-model="wizardState[2].date"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</template>
<script setup>
import DropZone from '@/components/DropZone/DropZone.vue';
import FilePreview from '@/components/DropZone/FilePreview.vue'
import useFileList from '@/components/DropZone/file-list.js'
import {ref} from "vue";
const props = defineProps(['createData'])
const {files, addFiles, removeFile, addUrlFiles} = useFileList()
import {useWizardStore} from "@/stores/createStepper";
const {wizardState, setWizardState} = useWizardStore()
import VueTailwindDatepicker from 'vue-tailwind-datepicker'
const formatter = ref({
  date: 'DD-MM-YYYY',
  month: 'MMM'
})

//plugin for upload
function onInputChange(e) {
  addFiles(e.target.files)
  e.target.value = null
}

const simulateClick = () => {
  document.getElementById('file-input').click()
}

</script>
<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;
.datepicker {
  width: 100%
}
.input {
  @apply block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-red-500 focus:outline-none focus:ring-red-500 sm:text-sm
}
</style>
