<template>
  <button :disabled="disabled" :class="`button ${customClass} ${type || 'primary'}`">
    <slot></slot>
  </button>
</template>

<script setup>
const props = defineProps(['type', 'disabled', 'customClass'])

</script>

<style scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
 @apply flex inline-flex items-center w-full justify-center rounded-md  py-2 px-4 text-sm font-medium  focus:ring-offset-2
}
.button.primary {
 @apply disabled:bg-red-200 disabled:cursor-not-allowed border border-transparent  hover:enabled:border-red-500 bg-red-500 text-white hover:text-white shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500
}
.button.outline {
  @apply rounded-md outline-none border border-white bg-transparent px-4 py-2 text-sm font-medium hover:text-red-500 text-white shadow-sm hover:bg-white focus:outline-none focus:ring-2 focus:ring-red-500
}
/*.button.outline {*/
/*  @apply flex w-full items-center justify-center rounded-md bg-transparent  bg-white px-4 py-2 text-sm font-medium text-red-200  hover:bg-red-50;*/
/*}*/
.button.secondary {
  @apply  rounded-md border border-red-200 bg-red-200 px-4 py-2 text-sm font-medium hover:text-white text-white shadow-sm hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-red-200 focus:ring-offset-2
}
</style>
