<template>
  <!--
    This example requires updating your template:

    ```
    <html class="h-full">
    <body class="h-full">
    ```
  -->
  <div class="min-h-full bg-white px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
    <div class="mx-auto max-w-max">
      <main class="sm:flex">
        <div v-if="valid" class="sm:ml-6">
          <div class="sm:border-l sm:border-gray-200 sm:pl-6">
            <h1 class="text-4xl font-bold tracking-tight text-red-500 sm:text-5xl">Successfully created!</h1>
            <p class="mt-1 text-base text-red-300">Please please click the button below to go to created item.</p>
          </div>
          <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
            <button-custom
                @click.prevent="handleVisitItem">Visit item</button-custom>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script setup>
import {onMounted, ref} from "vue";
import api from "@/services/api";
const valid = ref(false)
import {useRoute, useRouter} from "vue-router";
import ButtonCustom from '@/components/buttons/Button.vue'
const route = useRoute();
const router = useRouter();


const handleVisitItem = () => {
  const {item_id} = route.query;
  router.push(`/item/${item_id}`)
}
const validate = () => {

  let params = Object.entries(route.query).map(([key, val]) => `${key}=${val}`).join('&');
  api.get('/order/postback?'+params)
      .then(res => {
        if(res.status === 200){
          valid.value = true
        }
        console.log(res)
      })
      .catch(e => {
        console.log(e)
      })

}
onMounted(() => {
validate()
})
</script>
