<template>
  <div v-if='categoryItems && categoryItems.length > 0'
    class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl mb-10 font-bold tracking-tight text-gray-900">
      {{category?.name}}</h2>
    <h2 class="sr-only">{{category?.name}}</h2>
    <items-list title="" :data="categoryItems" @isFavoriteItem="itemFavorite">
    </items-list>
    <InfiniteLoading v-if="!isLastPage" @infinite="fetchScrollData" />
  </div>
  <div v-else
    class="grid grid-cols-1 gap-4 place-items-center h-56 text-2xl mb-10 font-bold tracking-tight text-gray-900">
    <div class="pt-8 pb-12">There are no items for selected category</div>
  </div>
</template>

<script setup>
import InfiniteLoading from "v3-infinite-loading";
import "v3-infinite-loading/lib/style.css";
import { onMounted, ref } from "vue";
import api from "@/services/api";
import ItemsList from "@/components/ItemsList.vue"
import { useRoute, useRouter } from "vue-router";
const route = useRoute()
const categoryItems = ref(null)
const category = ref(null)
const currentPage = ref(1);
const isLastPage = ref(false);

const fetchData = () => {
  api.get(`http://sladit.com:8001/api/items?filter[category]=${route.params.id}&page=1`)
    .then(res => {
      ++currentPage.value;
      categoryItems.value = res.data.data

    }).catch(error => {
      console.log(error)
    })
}

const itemFavorite = (itemId, isFavorite) => {
  console.log(`TEESA ${itemId}:isFavorite ${isFavorite}`);
  for (const item of categoryItems.value) {
    if (item.id === itemId) {
      item.bookmarked = isFavorite;
      break;
    }
  }
}

const fetchCategoryData = () => {
  api.get(`http://sladit.com:8001/api/categories/${route.params.id}`)
    .then(res => {
      category.value = res.data.data
    }).catch(error => {
      console.log(error)
    })
}

const fetchScrollData = () => {
  api.get(`http://sladit.com:8001/api/items?filter[category]=${route.params.id}&page=${currentPage.value}`)
    .then(res => {
      if (res.data.data && res.data.data.length > 0) {
        res.data.data.forEach(categoryItem => {
          categoryItems.value.push(categoryItem);
        });
        ++currentPage.value
      } else {
        isLastPage.value = true;
      }
    }).catch(error => {
      console.log(error)
    })
}

onMounted(() => {
  fetchData(),
    fetchCategoryData(),
    category
})
</script>
