<template>
  <main class="mx-auto max-w-5xl sm:px-6 sm:pt-16 lg:px-8">
    <nav aria-label="Progress">
      <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
        <li v-for="(step, stepIdx) in steps" :key="step.id" class="relative md:flex md:flex-1">
          <a v-if="step.complete" :href="step.href" class="group flex w-full items-center">
          <span class="flex items-center px-6 py-4 text-sm font-medium">
            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-red-500 group-hover:bg-red-700">
              <CheckIcon class="h-6 w-6 text-white" aria-hidden="true" />
            </span>
            <span class="ml-4 text-sm font-medium text-gray-900">{{ step.name || step[wizardState[1].mode]?.name}}</span>
          </span>
          </a>
          <a v-else-if="stepIdx=== currentStep" :href="step.href" class="flex items-center px-6 py-4 text-sm font-medium" aria-current="step">
          <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-red-500">
            <span class="text-red-500">{{ step.id }}</span>
          </span>
            <span class="ml-4 text-sm font-medium text-red-500">{{step.name || step[wizardState[1].mode]?.name }}</span>
          </a>
          <a v-else :href="step.href" class="group flex items-center">
          <span class="flex items-center px-6 py-4 text-sm font-medium">
            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
              <span class="text-gray-500 group-hover:text-gray-900">{{ step.id }}</span>
            </span>
            <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">{{ step.name || step[wizardState[1].mode]?.name}}</span>
          </span>
          </a>
          <template v-if="stepIdx !== steps.length - 1">
            <!-- Arrow separator for lg screens and up -->
            <div class="absolute top-0 right-0 hidden h-full w-5 md:block" aria-hidden="true">
              <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
              </svg>
            </div>
          </template>
        </li>
      </ol>
    </nav>
    <div>
      <Step1  v-if="currentStep === 0" @modeChange="setMode"/>
      <Step2 :data="page2" v-if="currentStep === 1" :createData="createData" :mode="mode" />
      <Step3 v-if="currentStep === 2" :mode="mode" :createData="createData"/>
      <Step4 @checkout="handleCreateItem" v-if="currentStep === 3" :mode="mode"/>
    </div>
    <div class="flex mt-10 justify-center gap-4 pb-20">
      <div class="flex max-w-xs sm:w-full">
        <button-custom :disabled="currentStep === 0" @click="handleStep('back')">prev</button-custom>
      </div>
      <div v-show="currentStep !== steps.length -1" class="flex max-w-xs sm:w-full">
        <button-custom
            :disabled="(currentStep === 1 && !step2Valid) || (currentStep === 2 && !step3Valid)"
            @click="handleStep('next')">next</button-custom>
      </div>
    </div>
  </main>
</template>

<script setup>
import { CheckIcon } from '@heroicons/vue/24/solid'
import {computed, onMounted, ref, watch} from "vue";
import Step1 from "@/components/Stepper/Step1.vue";
import Step2 from "@/components/Stepper/Step2.vue";
import Step3 from "@/components/Stepper/Step3.vue";
import Step4 from "@/components/Stepper/Step4.vue";
import ButtonCustom from '@/components/buttons/Button.vue'
import {useWizardStore} from "@/stores/createStepper";
import { StripeCheckout } from '@vue-stripe/vue-stripe';
import api from "@/services/api";
import _ from "lodash";
const loading = ref(false)
const step2Valid = ref(false)
const step3Valid = ref(false)
const {wizardState} = useWizardStore()
const steps = ref([
  { id: '01', name:'Lost or stolen', href: '#', complete: false },
  { id: '02', lost: {name:'What have you lost?'}, stolen: {name: 'What was stolen?'} , href: '#', complete: false },
  { id: '03', lost: {name: 'Where did you lost it?'}, stolen: {name: 'Where it was stolen?'},href: '#', complete: false },
  { id: '04', name: 'Overview', href: '#', complete: false },
])
const currentStep = ref(0)
const mode = ref('lost')
const page2 = ref({
  name: '',
  description: '',
  category: '',
  color: '',
  brand: '',
  value: '',
  inscription:''
})
const createData = ref(null)

const setMode = (value) => {
  mode.value = value
}

const fetchData = () => {
  api.get('/items/create')
      .then(response => {
        console.log(response)
        createData.value = response.data.data
      })
      .catch(res => {
        console.log(res)
      })
}

const handleCheckout = () => {
  handleCreateItem()
  let itemId = localStorage.getItem('createdItem')
  api.get(`/payments/stripe/checkout-url?item_id=${itemId}`)
      .then(response => {
        console.log(response)
        if(response.status === 200){
          window.open(response.data.data.url)
        }
      })
      .catch(e => {
        console.log(e)
      })
}

const validateSteps = () => {
  if(mode) {
    steps.value[0].complete = true
  }

  if(step2Valid.value){
    steps.value[1].complete = true
  }
  if (step3Valid.value){

    steps.value[2].complete = true
  }
  // if([name, description, category, color, brand, value].every(item => Boolean(item))){
  //   steps.value[1].complete = true
  // } else if ([postalCode, address, place, country].every(item => Boolean(item))){
  //   steps.value[3].complete = true
  // }
}
const handleCreateItem = async () => {
  let formdata = new FormData()

  let all = await Promise.all(wizardState.value[2].images.filter((file) => file))
  // console.log('all', all[0].file)
  // all.forEach((item, index) => {
  //   console.log(index)
  //   formdata.append(`images[${index}]`, item.file)
  // })
  Object.keys(all).forEach((item, index) => {
    formdata.append(`images[${index}]`, all[index].file)
  })
  const itemData = {
    item_type_id:wizardState.value[1].mode === 'lost' ? 1 : 2,
    category_id: wizardState.value[2].category,
    name: wizardState.value[2].name,
    description: wizardState.value[2].description,
    brand: wizardState.value[2].brand,
    color: wizardState.value[2].color,
    price: wizardState.value[2].value,
    date: wizardState.value[2].date,
    country_id: wizardState.value[3].country,
    postcode: wizardState.value[3].postalCode,
    city: wizardState.value[3].place,
    address: wizardState.value[3].address
  }
  for ( var key in itemData ) {
    formdata.append(key, itemData[key]);
  }

  api.post('/order', formdata, {
    headers: { "Content-Type": "multipart/form-data" }
  })
      .then(response => {
        localStorage.setItem('createdItem', response.data.data.item)
        if(response.status === 200){
          window.open(response.data.data.url)
        }
        console.log(response)
      })
      .catch(e => {
        currentStep.value = 2
      })
}
const handleStep = (direction) => {
  console.log(wizardState.value[1].images)
  validateSteps()
  if (direction === 'next' && currentStep.value < steps.value.length) currentStep.value++
  if (direction === 'back' && currentStep.value > 0) currentStep.value --
}

const stepDone = (value, index) =>{
  steps.value[index].complete = true
}

onMounted(() => {
  fetchData()
})

watch(() => _.cloneDeep(wizardState), (currentValue, oldValue) => {
  const {name, description, category, color, brand, value} = currentValue.value[2];
  const {postalCode, address, place, date, description2} = currentValue.value[3];
  let step2 = [name, description, category, color, brand, value].every(item => Boolean(item))
  let step3 = [postalCode, address, place].every(item => Boolean(item))
  step2Valid.value = step2;
  step3Valid.value = step3
});

</script>
