<template>
  <main class="mx-auto max-w-7xl sm:px-6 sm:pt-16 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <!-- Product -->
        <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
          <!-- Image gallery -->
          <TabGroup as="div" class="flex flex-col-reverse">
            <!-- Image selector -->
            <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
              <TabList class="grid grid-cols-4 gap-6">
                <Tab v-for="image in itemData?.images" :key="image?.id" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none" v-slot="{ selected }">
                  <span class="sr-only"> {{ image.name }} </span>
                  <span class="absolute inset-0 overflow-hidden rounded-md">
                    <img :src="image.image_path" alt="" class="h-full w-full object-cover object-center" />
                  </span>
                  <span :class="[selected ? 'ring-red-100' : 'ring-transparent', 'pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2']" aria-hidden="true" />
                </Tab>
              </TabList>
            </div>

            <TabPanels class="aspect-[4/3] w-full">
              <TabPanel v-for="image in itemData?.images" :key="image.id">
                <img :src="image.image_path" :alt="image.alt" class="h-full w-full object-cover object-center sm:rounded-lg" />
              </TabPanel>
            </TabPanels>
          </TabGroup>

          <!-- Product info -->
          <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ itemData?.name }}</h1>

            <div class="mt-3">
              <h2 class="sr-only">Product information</h2>
              <p class="text-3xl tracking-tight text-gray-900">{{


                  formatCurrency.format(itemData?.reward_price)
                }}</p>
            </div>

            <div class="mt-6">
              <h3 class="sr-only">Description</h3>

              <div class="space-y-6 text-base text-gray-700" v-html="itemData?.description" />
            </div>

            <form class="mt-6">
              <div class="mt-10 flex">
                <div class="flex max-w-xs sm:w-full">
                  <button-custom type="primary" >Item founded</button-custom>
                </div>
                <button type="button" @click="handleBookmark" class="ml-4 flex items-center justify-center rounded-md py-3 px-3 text-red-200 hover:bg-red-50 hover:text-white">
                  <SolidHeartIcon v-if="itemData?.bookmarked" class="h-6 w-6 flex-shrink-0" aria-hidden="true" />
                  <HeartIcon v-else class="h-6 w-6 flex-shrink-0" aria-hidden="true" />
                  <span class="sr-only">Add to favorites</span>
                </button>
              </div>
            </form>

            <section aria-labelledby="details-heading" class="mt-12">
              <h2 id="details-heading" class="sr-only">Additional details</h2>

              <div class="divide-y divide-gray-200 border-t">
                <Disclosure as="div" default-open  v-slot="{ open }">
                  <h3>
                    <DisclosureButton class="group relative flex w-full items-center justify-between py-6 text-left">
                      <span :class="[open ? 'text-red-400' : 'text-red-500', 'text-sm font-medium']">Features</span>
                      <span class="ml-6 flex items-center">
                        <PlusIcon v-if="!open" class="block h-6 w-6 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                        <MinusIcon v-else class="block h-6 w-6 text-indigo-400 group-hover:text-indigo-500" aria-hidden="true" />
                      </span>
                    </DisclosureButton>
                  </h3>
                  <DisclosurePanel as="div" class="prose prose-sm pb-6">
                    <ul role="list" class="text-sm">
                      <li ><span class="text-sm text-red-500">Color:</span> {{ itemData?.color }}</li>
                      <li ><span class="text-sm text-red-500">Brand:</span> {{ itemData?.brand }}</li>
                      <li ><span class="text-sm text-red-500">Created At:</span> {{ itemData?.created_at }}</li>
                    </ul>
                  </DisclosurePanel>
                </Disclosure>
              </div>
              <div class="divide-y divide-gray-200 border-t">
                <Disclosure as="div"  v-slot="{ open }">
                  <h3>
                    <DisclosureButton class="group relative flex w-full items-center justify-between py-6 text-left">
                      <span :class="[open ? 'text-red-400' : 'text-red-500', 'text-sm font-medium']">Specification</span>
                      <span class="ml-6 flex items-center">
                        <PlusIcon v-if="!open" class="block h-6 w-6 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                        <MinusIcon v-else class="block h-6 w-6 text-indigo-400 group-hover:text-indigo-500" aria-hidden="true" />
                      </span>
                    </DisclosureButton>
                  </h3>
                  <DisclosurePanel as="div" class="prose prose-sm pb-6">
                    <ul role="list" class="text-sm">
                      <li ><span class="text-sm text-red-500">Color:</span> {{ itemData?.color }}</li>
                      <li ><span class="text-sm text-red-500">Brand:</span> {{ itemData?.brand }}</li>
                      <li ><span class="text-sm text-red-500">Created At:</span> {{ itemData?.created_at }}</li>
                    </ul>
                  </DisclosurePanel>
                </Disclosure>
              </div>
            </section>

          </div>
        </div>

        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 py-16 px-4 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Related Items</h2>

          <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
            <div v-for="product in itemData?.related_items" :key="product.id">
              <router-link :to="`/item/${product?.id}`">
              <div class="relative">
                <div class="relative h-72 w-full overflow-hidden rounded-lg">
                  <img :src="product?.image?.image_path" :alt="product.imageAlt" class="h-full w-full object-cover object-center" />
                </div>
                <div class="relative mt-4">
                  <h3 class="text-sm font-medium text-gray-900">{{ product?.name }}</h3>
                  <p class="mt-1 text-sm text-gray-500">{{ product?.color }}</p>
                </div>
                <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
                  <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50" />
                  <p class="relative text-lg font-semibold text-white">{{ formatCurrency.format(product?.price) }}€</p>
                </div>
              </div>
              </router-link>
            </div>
          </div>
        </section>
        <hr>

        <section aria-labelledby="reviews-heading" class="bg-white">
          <div class="mx-auto max-w-2xl py-24 px-4 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-x-8 lg:py-32 lg:px-8">
            <div class="lg:col-span-12">


              <CommentComponent v-if="isLoggedIn" @submit="submitComment"></CommentComponent>
              <h2 id="reviews-heading" class="text-2xl my-8 font-bold tracking-tight text-gray-900">Comments</h2>
              <div v-for="comment in commentList" :key="comment.id" class="">
                <div class="flex items-center">
                  <img :src="comment?.user?.profile_image" :alt="`${comment?.user?.name}.`" class="h-12 w-12 rounded-full" />
                  <div class="ml-4">
                    <h4 class="text-sm font-bold text-gray-900">{{ comment?.user?.name }}</h4>
                    <div class="mt-1 flex items-center">
                      <p class="text-sm text-gray-500">{{comment?.created_at}}</p>
<!--                      <StarIcon v-for="rating in [0, 1, 2, 3, 4]" :key="rating" :class="[comment.rating > rating ? 'text-yellow-400' : 'text-gray-300', 'h-5 w-5 flex-shrink-0']" aria-hidden="true" />-->
                    </div>
                  </div>

                </div>

                <div class="mt-4 space-y-6 text-base italic text-gray-600" v-html="comment?.comment" />
                <hr class="my-10">
              </div>


            </div>
          </div>
        </section>
      </div>
  </main>
</template>

<script setup>
import {onMounted, ref, watch} from 'vue'
import api from "../services/api";
import {

  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Tab,
  TabGroup,
  TabList,
  TabPanel,
  TabPanels,

} from '@headlessui/vue'
import {
  HeartIcon,

  MinusIcon,
  PlusIcon,

} from '@heroicons/vue/24/outline'
import { StarIcon, HeartIcon as SolidHeartIcon} from '@heroicons/vue/20/solid'
import {formatCurrency} from "@/services/helper";
import {useNotificationStore} from "@/stores/notifications";
const {setNotification} = useNotificationStore()
import CommentComponent from '@/components/Comment.vue'
import {useRoute, useRouter} from "vue-router";
const {user, isLoggedIn} = useAuthStore()
import _ from "lodash";
import {useAuthStore} from "@/stores/auth";
import ButtonCustom from '../components/buttons/Button.vue'
const product = {
  name: 'Zip Tote Basket',
  price: '$140',
  rating: 4,
  images: [
    {
      id: 1,
      name: 'Angled view',
      src: 'https://tailwindui.com/img/ecommerce-images/product-page-03-product-01.jpg',
      alt: 'Angled front view with bag zipped and handles upright.',
    },
    // More images...
  ],
  colors: [
    { name: 'Washed Black', bgColor: 'bg-gray-700', selectedColor: 'ring-gray-700' },
    { name: 'White', bgColor: 'bg-white', selectedColor: 'ring-gray-400' },
    { name: 'Washed Gray', bgColor: 'bg-gray-500', selectedColor: 'ring-gray-500' },
  ],
  description: `
    <p>The Zip Tote Basket is the perfect midpoint between shopping tote and comfy backpack. With convertible straps, you can hand carry, should sling, or backpack this convenient and spacious bag. The zip top and durable canvas construction keeps your goods protected for all-day use.</p>
  `,
  details: [
    {
      name: 'Features',
      items: [
        'Multiple strap configurations',
        'Spacious interior with top zip',
        'Leather handle and tabs',
        'Interior dividers',
        'Stainless strap loops',
        'Double stitched construction',
        'Water-resistant',
      ],
    },
    // More sections...
  ],
}
const route = useRoute()
const router = useRouter()
const itemData = ref(null)
const commentList = ref(null)
const fetchData = () => {
  api.get(`/items/${route.params.id}`)
      .then(res => {
        console.log(res.data.data)
        if(!res.data.data){
          router.push('/')
        }
        itemData.value = res.data.data
      }).catch(error => {
        console.log(error)
  })
}
const fetchComments = () => {
  api.get(`/comments?filter[item]=${route.params.id}`, {
    noSpinner: true
  })
      .then(res => {
        commentList.value = res.data.data
      }).catch(error => {
    console.log(error)
  })
}
const submitComment = (data)=> {
  api.post('/comments', {
    item_id: route.params.id,
    comment: data.value
  }, {
    noSpinner: true
  })
      .then(res => {
        if(res.data.success){
          setNotification('success', 'Success', 'Comment successfylly added')
          fetchComments()
        }
      }).catch(error => {
    console.log(error)
  })
}
const handleBookmark = () => {
  api.post('/bookmark', {
    item_id: route.params.id
  }, {
    noSpinner: true
  })
      .then(res => {
        itemData.value.bookmarked = !itemData.value.bookmarked
        setNotification('success', 'Success', res.data.message)
      }).catch(error => {
    console.log(error)
  })
}

onMounted(() => {
  fetchData()
  fetchComments()
})
watch(() => _.cloneDeep(route.params.id), (currentValue, oldValue) => {
  fetchData()
  fetchComments()
    }
);
</script>
