<template>
  <main>
  <div class="flex min-h-full lg:h-[calc(100vh_-_65px)]">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <img class="h-12 w-auto" :src="logo" alt="Your Company" />
          <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
          <p class="mt-2 text-sm text-gray-600">
            Or
            {{ ' ' }}
            <a href="#" class="font-medium text-red-300 hover:text-indigo-500">start your 14-day free trial</a>
          </p>
        </div>
        <div class="mt-8">
          <div>
            <div>
              <p class="text-sm font-medium text-gray-700">Sign in with</p>
              <div class="mt-1 grid grid-cols-3 gap-3">
                  <div @click="googleLogin">
                    <a href="#" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50">
                      <span class="sr-only">Sign in with Google</span>
                      <img src="../assets/icons/G.svg" alt="twitter"/>
                    </a>
                  </div>
                <div>
                  <a href="#" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50">
                    <span class="sr-only">Sign in with Facebook</span>
                    <img src="../assets/icons/fb.svg" alt="facebook"/>
<!--                    <svg class="h-5 w-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">-->
<!--                      <path fill-rule="evenodd" d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z" clip-rule="evenodd" />-->
<!--                    </svg>-->
                  </a>
                </div>

                <div>
                  <a href="#" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50">
                    <span class="sr-only">Sign in with Twitter</span>
                    <img src="../assets/icons/tw.svg" alt="twitter"/>
<!--                    <svg class="h-5 w-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">-->
<!--                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />-->
<!--                    </svg>-->
                  </a>
                </div>


              </div>
            </div>

            <div class="relative mt-6">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300" />
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="bg-white px-2 text-gray-500">Or continue with</span>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <form @submit.prevent="onSubmit"  class="space-y-6">
              <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <div class="mt-1">
                  <input id="email" name="email" type="email" v-model="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                </div>
              </div>

              <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <div class="mt-1">
                  <input id="password" name="password" type="password" v-model="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                </div>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" />
                  <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
                </div>

                <div class="text-sm">
                  <a href="#" class="font-medium text-red-300 hover:text-indigo-500">Forgot your password?</a>
                </div>
              </div>
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <p class="text-sm text-gray-600"> Don't have account yet? <span @click="open = true" class="font-medium font-bold text-red-300 cursor-pointer">Sign up now</span> </p>
                </div>

              </div>

              <div>
                <button-custom  type="primary" >Sign in</button-custom>
              </div>
            </form>
          </div>
        </div>
      </div>
<!--      <Button>-->
<!--        text-->
<!--      </Button>-->
    </div>

    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="" />
    </div>
  </div>
<!--  MODAL-->

  <TransitionRoot as="template" :show="open">
    <Dialog as="div" class="relative z-10" @close="open = false">
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">

            <DialogPanel class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
              <form @submit.prevent="onSignUp" class="space-y-6">
              <div>
<!--                  CONTENT-->
                <div>
                  <div>
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Sign up</h3>
                    <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>
                  </div>
                  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                      <label for="first-name" class="block text-sm font-medium text-gray-700">First name<span class="text-sm font-medium text-red-400">*</span></label>
                      <div class="mt-1">
                        <input type="text" v-model="signup.firstName" name="first-name" id="first-name" required autocomplete="given-name" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>

                    <div class="sm:col-span-3" >

                      <label for="last-name" class="block text-sm font-medium text-gray-700">Last name<span class="text-sm font-medium text-red-400">*</span></label>
                      <div class="mt-1">
                        <input type="text" v-model="signup.lastName" required name="last-name" id="last-name" autocomplete="family-name" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>

                    <div class="sm:col-span-4">
                      <label for="email" class="block text-sm font-medium text-gray-700">Email address<span class="text-sm font-medium text-red-400">*</span></label>
                      <div class="mt-1">
                        <input id="email" required v-model="signup.email" name="email" type="email" autocomplete="email" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
                      </div>
                    </div>
                    <div class="sm:col-span-4">
                      <label for="signup.password" class="block text-sm font-medium text-gray-700">Password<span class="text-sm font-medium text-red-400">*</span></label>
                      <div class="mt-1">
                        <input  id="signup.password" required v-model="signup.password" name="signup.password" type="password" autocomplete="signup.password" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
                      </div>
                    </div>

                    <div class="sm:col-span-4">
                      <label for="signup.password2" class="block text-sm font-medium text-gray-700">Confirm Password<span class="text-sm font-medium text-red-400">*</span></label>
                      <div class="mt-1">
                        <input @input="validate" id="signup.password2" ref="password2"  required v-model="signup.password2" name="signup.password2" type="password"  class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
                      </div>
                    </div>

                    <div class="sm:col-span-3">
                      <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                      <div class="mt-1">
                        <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 border border-gray-300 sm:text-sm px-3 py-2 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                          <option>United States</option>
                          <option>Canada</option>
                          <option>Mexico</option>
                        </select>
                      </div>
                    </div>

                    <div class="sm:col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
                      <div class="mt-1">
                        <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>

                    <div class="sm:col-span-2">
                      <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                      <div class="mt-1">
                        <input type="text" name="city" id="city" autocomplete="address-level2" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>

                    <div class="sm:col-span-2">
                      <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                      <div class="mt-1">
                        <input type="text" name="region" id="region" autocomplete="address-level1" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>

                    <div class="sm:col-span-2">
                      <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
                      <div class="mt-1">
                        <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
                <button type="submit" class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:col-start-2 sm:text-sm" >Submit</button>
                <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:col-start-1 sm:mt-0 sm:text-sm" @click="open = false" ref="cancelButtonRef">Cancel</button>
              </div>
              </form>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
  </main>
</template>
<script setup>

import { Dialog, DialogPanel, TransitionChild, TransitionRoot } from '@headlessui/vue'

import {login} from "@/services/login";
import {useAuthStore} from "@/stores/auth";
const {setUserStore,setLoggedIn} = useAuthStore()
import {ref, watch, watchEffect} from "vue";
import {useRouter} from "vue-router";
import logo from '../assets/logos/logo.svg'
import ButtonCustom from '../components/buttons/Button.vue'
import api from "@/services/api";
import {setUser} from "@/services/tokenService";
import {useNotificationStore} from "@/stores/notifications";
import {decodeCredential} from "vue3-google-login";
const {user, isLoggedIn} = useAuthStore()
const open = ref(false)
const router = useRouter()
const {setNotification} = useNotificationStore()
const email = ref('')
const signup = ref({
  email: '',
  firstName:'',
  lastName: '',
  password: '',
  address: '',
  password2: ''
})
import { googleTokenLogin } from "vue3-google-login"
const googleLogin = () => {
  googleTokenLogin().then((response) => {
    sendToken(response.access_token)
    console.log("Handle the response", response)
  })
}

const sendToken = (token) => {
  api.post('/auth/google/callback', {
    provider_token: token
  }).then(res => {
    console.log(res)
    setUserStore(res.data.data)
    setLoggedIn(true)
    setUser(res.data.data);
    setNotification('success', 'Success', res.data.message)
  }).catch(e => {
    console.log(e.message)
  })
}
const password2 = ref(null)
const password = ref('')
const onSubmit = (e) => {
  e.preventDefault()
  login({
    email: email.value,
    password: password.value
  })
}
const validate =(e)=>{
  e.target.setCustomValidity('')
}
const callback = (response) => {
  debugger
  console.log(response)
  // decodeCredential will retrive the JWT payload from the credential
  const userData = decodeCredential(response.credential)
  debugger
  console.log("Handle the userData", userData)
}
const onSignUp = (e) => {
  if(signup.value.password2 !== signup.value.password){
    password2.value.setCustomValidity('Passwords do not match')
    password2.value.reportValidity();
    return
  } else {
    password2.value.setCustomValidity('')
    password2.value.reportValidity();
  }
    api.post('/register', {
      name: `${signup.value.firstName} ${signup.value.lastName}`,
      email: signup.value.email,
      password: signup.value.password,
      address: signup.value.address,
      device: 'Desktop'
    }).then(response => {
      if (response.data.data.token) {
        setUserStore(response.data.data)
        setLoggedIn(true)
        setUser(response.data.data);
        setNotification('success', 'Success', response.data.message)
      }
    })
}
const googleSignIn = () => {
  api.get('/auth/google')
      .then(response => {
        if (response.data.data.token) {
          setUserStore(response.data.data)
          setLoggedIn(true)
          setUser(response.data.data);
          setNotification('success', 'Success', response.data.message)
        }
      })

}
watch([user, isLoggedIn], (currentValue, oldValue) => {
 if(user && isLoggedIn){
   router.push('/profile')
 }
});
</script>
<style>

@media (min-width: 1024px) {
}
</style>

