<template>
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl mb-10 font-bold tracking-tight text-gray-900">
      My Bookmarks</h2>
    <h2 class="sr-only">My Bookmarks</h2>
    <items-list title="" :data="bookmarks" @isFavoriteItem="removeFromFavorite"></items-list>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import api from "@/services/api";
import ItemsList from "@/components/ItemsList.vue"

const bookmarks = ref(null)

const removeFromFavorite = (itemId, isFavorite) => {

  console.log(`RemoveFromFavorite ${itemId}:isFavorite ${isFavorite}`);
  bookmarks.value = bookmarks.value.filter(item => item.id !== itemId)
}

const fetchData = () => {
  api.get('/bookmark/list')
    .then(res => {
      bookmarks.value = res.data.data
    }).catch(error => {
      console.log(error)
    })
}

onMounted(() => {
  fetchData()
})
</script>
