<template>
  <div class="flex items-start space-x-4">
    <div class="flex-shrink-0">
      <img class="inline-block h-10 w-10 rounded-full" :src="user?.profile_image" alt="" />
    </div>
    <div class="min-w-0 flex-1">
      <form action="#" class="relative">
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm focus-within:border-red-100 focus-within:ring-1 focus-within:ring-red-100">
          <label for="comment" class="sr-only">Add your comment</label>
          <textarea rows="3" v-model="comment" name="comment" id="comment" class="block w-full resize-none border-0 py-3 focus:ring-0 sm:text-sm" placeholder="Add your comment..." />

          <!-- Spacer element to match the height of the toolbar -->
          <div class="py-2" aria-hidden="true">
            <!-- Matches height of button in toolbar (1px border + 36px content height) -->
            <div class="py-px">
              <div class="h-9" />
            </div>
          </div>
        </div>
        <div class="mt-5 flex-shrink-0">
          <div class="flex max-w-[60px] sm:w-full">
            <button-custom
                :disabled="!comment"
                @click.prevent="handleSubmit()">Post</button-custom>
          </div>
        </div>
      </form>
    </div>
  </div>

</template>

<script setup>
import {ref} from "vue";
import { defineEmits } from 'vue'
import {useAuthStore} from "@/stores/auth";
import ButtonCustom from '@/components/buttons/Button.vue'
const {user, isLoggedIn} = useAuthStore()
const emit = defineEmits(['submit'])

const comment = ref('')

const handleSubmit = () => {
  emit('submit', comment)
  comment.value = ''
}
</script>
