<template>
  <div class="bg-white">
    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
      <div v-for="item in data" :key="item.id"
        class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
        <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
          <router-link :to="`/item/${item.id}`">
            <img :src="item?.image?.image_path" :alt="item?.name"
              class="h-full w-full object-cover object-center sm:h-full sm:w-full" />
          </router-link>
        </div>
        <div class="flex flex-1 flex-col space-y-2 p-4">
          <h3 class="text-sm font-medium text-gray-900">
            <router-link :to="`/item/${item.id}`">
              <!--                <span aria-hidden="true" class="absolute inset-0" />-->
              {{ item?.name }}
            </router-link>
          </h3>
          <p class="text-sm text-gray-500">{{
          truncateString(item?.description, 100)
          }}</p>
          <div class="flex justify-between">
            <!--              <p class="text-sm italic text-gray-500">{{ item?.options }}</p>-->
            <p class="text-base font-medium text-gray-900">{{
            formatCurrency.format(item?.price)
            }}</p>
            <button type="button" @click.prevent="handleBookmark(item.id)"
              class="ml-4 flex items-center justify-center rounded-md text-red-200 hover:bg-red-50 hover:text-white">
              <SolidHeartIcon v-if="item?.bookmarked" class="h-6 w-6 flex-shrink-0" aria-hidden="true" />
              <HeartIcon v-else class="h-6 w-6 flex-shrink-0" aria-hidden="true" />
              <span class="sr-only">Add to favorites</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</template>
<script setup>
import { formatCurrency, truncateString } from "@/services/helper";
import { StarIcon, HeartIcon as SolidHeartIcon } from '@heroicons/vue/20/solid'
import {
  HeartIcon,

} from '@heroicons/vue/24/outline'
import api from "@/services/api";
import { ref, defineEmits } from "vue";
import { useNotificationStore } from "@/stores/notifications";
const props = defineProps(['title', 'data'])
const bookmarked = ref(null)
const { setNotification } = useNotificationStore()
const emit = defineEmits(['isFavoriteItem'])

const handleBookmark = (id) => {
  api.post('/bookmark', {
    item_id: id
  }, {
    noSpinner: true
  })
    .then(res => {
      // if (res.data.message === 'Successfully bookmarked!') {
      //   bookmarked.value = true
      // } else {
      //   bookmarked.value = null
      // }
      emit('isFavoriteItem', +id, res.data.message === 'Successfully bookmarked!');
      setNotification('success', 'Success', res.data.message)
    }).catch(error => {
      console.log(error)
    })
}
</script>
