<template>
  <Disclosure as="nav" class="bg-gradient-to-r from-red-700 to-red-400 shadow" v-slot="{ open }">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
      <div class="flex h-16 justify-between ">
        <div class="flex">
          <div class="-ml-2 mr-2 flex items-center md:hidden">
            <!-- Mobile menu button -->
            <DisclosureButton
              class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-200">
              <span class="sr-only">Open main menu</span>
              <Bars3Icon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
              <XMarkIcon v-else class="block h-6 w-6" aria-hidden="true" />
            </DisclosureButton>
          </div>
          <div class="flex flex-shrink-0 items-center">
            <a href="/">
              <img class="block h-8 w-auto lg:hidden" :src="logo" alt="Your Company" />
              <img class="hidden h-8 w-auto lg:block" :src="logo" alt="Your Company" />
            </a>
          </div>
          <div class="hidden md:ml-6 md:flex md:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <router-link to="/"
              class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-white  hover:text-red-50">
              Home</router-link>
            <router-link to="/item/28"
              class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-white  hover:text-red-50">
              Item preview</router-link>
            <router-link to="/category/6"
              class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-white  hover:text-red-50">
              Category preview</router-link>
          </div>
        </div>
        <div class="flex items-center">
          <div v-if="isLoggedIn" class="flex-shrink-0">
            <button-custom @click="router.push('/createItem')" type="outline">
              <PlusIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
              <span>New Item</span>
            </button-custom>
          </div>
          <div v-if="isLoggedIn === true" class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
            <button type="button"
              class="rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:ring-offset-2">
              <span class="sr-only">View notifications</span>
              <BellIcon class="h-6 w-6" aria-hidden="true" />
            </button>

            <!-- Profile dropdown -->
            <Menu as="div" class="relative ml-3">
              <div>
                <MenuButton
                  class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" :src="user?.profile_image" alt="" />
                </MenuButton>
              </div>
              <transition enter-active-class="transition ease-out duration-200"
                enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95">
                <MenuItems
                  class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                  <MenuItem v-slot="{ active }">
                  <a href="/profile" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">My
                    Profile</a>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                  <a href="#"
                    :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Settings</a>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                  <a @click.prevent="handleLogout" href="#"
                    :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Sign out</a>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
          </div>
          <div v-else class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
            <button-custom type="outline" @click="$router.push('/login')">
              <ArrowRightOnRectangleIcon class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" />
              <span>Log In</span>
            </button-custom>
          </div>
        </div>
      </div>
    </div>

    <DisclosurePanel class="md:hidden">
      <div class="space-y-1 pt-2 pb-3">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <router-link to="/"
          class="block border-l-4 border-transparent px-4 py-2 text-base hover:bg-red-100 font-medium text-white  hover:text-gray-800 sm:px-6">
          Home
        </router-link>
        <router-link to="/item/28"
          class="block border-l-4 border-transparent px-4 py-2 hover:bg-red-100 text-base font-medium text-white  hover:text-gray-800 sm:px-6">
          Item Preview</router-link>
      </div>
      <div v-if="isLoggedIn" class="border-t border-gray-200 pt-4 pb-3">
        <div class="flex items-center px-4 sm:px-6">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" :src="user?.profile_image" alt="" />
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-white">{{user?.name}}</div>
            <div class="text-sm font-medium text-gray-300">{{user?.email}}</div>
          </div>
          <button type="button"
            class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">View notifications</span>
            <BellIcon class="h-6 w-6" aria-hidden="true" />
          </button>
        </div>
        <div class="mt-3 space-y-1">
          <router-link to="/profile"
            class="block border-l-4 border-transparent hover:bg-red-100 px-4 py-2 text-base font-medium text-white  hover:text-gray-800 sm:px-6">
            My Profile</router-link>
          <router-link to="/settings"
            class="block border-l-4 border-transparent hover:bg-red-100 px-4 py-2 text-base font-medium text-white  hover:text-gray-800 sm:px-6">
            Settings</router-link>
          <DisclosureButton @click.prevent="handleLogout" as="a" href="#"
            class="block px-4 py-2 text-base font-medium text-white hover:bg-gray-100 hover:text-gray-800 sm:px-6">Sign
            out</DisclosureButton>
        </div>
      </div>
      <router-link href="/login"
        class="block border-l-4 border-transparent px-4 py-2 text-base hover:bg-red-100 font-medium text-white  hover:text-gray-800 sm:px-6"
        v-else to="/login">Login</router-link>
    </DisclosurePanel>
  </Disclosure>
</template>

<script setup>
import { useAuthStore } from "@/stores/auth";
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { Bars3Icon, BellIcon, XMarkIcon } from '@heroicons/vue/24/outline'
import { PlusIcon, ArrowRightOnRectangleIcon } from '@heroicons/vue/20/solid'
import ButtonCustom from '@/components/buttons/Button.vue'
import { watch } from "vue";
import { useRouter } from "vue-router";
const { user, isLoggedIn, setLoggedIn } = useAuthStore()
import logo from '../assets/logos/navbar_logo.svg'

const router = useRouter()

const handleLogout = () => {
  setLoggedIn(false)
  localStorage.clear()
}

watch([isLoggedIn], (currentValue, oldValue) => {
  console.log(currentValue)
  if (!currentValue[0]) {
    router.push('/login')
  }
});

</script>

<style scoped>
.router-link-active {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 767px) {
  .router-link-active {
    border-bottom: none;
    border-left: 4px solid #FF7070;
    background: #FF9292;
  }
}
</style>
