<template>
  <Spinner v-if="loading" />
  <header>
    <MainHeader />
  </header>

  <div class="bg-white">
    <RouterView />
  </div>
  <Notifications />
</template>

<script setup>
import { RouterLink, RouterView } from 'vue-router'
import MainHeader from './components/MainHeader.vue'
import { onMounted } from 'vue'
import { checkUser } from "@/services/login";
import { getLocalAccessToken } from "@/services/tokenService";
import Spinner from '@/components/Spinner.vue'
import { useSpinnerStore } from "@/stores/loader";
import Notifications from "@/components/Notifications.vue";
const { loading } = useSpinnerStore()

onMounted(() => {
  let token = getLocalAccessToken()
  if (token) checkUser()
})
</script>

<style>

</style>
